<div class="container-fluid" id="page-container" style="display:none">
  <div class="row-fluid">
    <div class="span12" role="main">
      <div id="main-content">
        {{! Annotation result placeholder }}
      </div>
      <div id="highlight-controls" style="display:none">
        {{! Highlight controls placeholder }}
      </div>
    </div>
  </div><!--/row-->

  <footer class="clearfix" style="display:none">
    <div class="brand pull-left">
      Annotated by <a rel="author" href="http://bioinformatics.ua.pt/becas/?utm_source=becas-widget&amp;utm_medium=embedded&amp;utm_campaign=widget" title="Go to becas" target="_blank" class="becas">becas</a>.
    </div>
    <div id="export-controls" class="pull-right">
      {{! Export controls placeholder }}
    </div>
  </footer>
</div>
<iframe src="javascript:''" name="__export_frame" tabIndex='-1' style="position:absolute;width:0;height:0;border:0"></iframe>
<!--[if lt IE 9]>
<p class="chromeframe">You are using an <strong>outdated browser</strong>, with serious compatibility issues. Please <a href="http://browsehappy.com/" target="_blank">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.</p>    
<![endif]-->