<div class="affix">
    <section class="annotation-toggles-container">
        <h6 id="highlight-controls-title">{{title}}</h6> 
        {{#unless disabled_all}}
        {{#if toolbar_visible}}
        <div class="btn-toolbar">
            <div class="btn-group">
                <button class="btn btn-small {{#if toolbar_ALL}}active{{/if}}" id="highlight-all-annotations" title="Highlight all annotations">All</button>
                <button class="btn btn-small {{#if toolbar_NONE}}active{{/if}}" id="hide-all-annotations" title="Hide all annotations">None</button>
            </div>
        </div>
        {{/if}}
        {{/unless}}
        <ul class="unstyled" id="annotation-toggles">
            {{#each groups}}
                <li {{#if this.disabled}}style="display:none"{{/if}}>
                    <button class="btn {{#if this.active}}active alert-success{{/if}}" id="{{this.class_}}-checkbox" data-group="{{this.id}}"{{#if this.disabled}} disabled="disabled"{{/if}}>
                        {{#if this.active}}&#x2714;{{else}}&#x2717;{{/if}}
                    </button> 
                    <label class="{{#if this.active}}{{this.color}}{{/if}} {{#if this.disabled}}disabled{{/if}}" for="{{this.class_}}-checkbox">{{this.norm}}</label>
                </li>
            {{/each}}
            {{#if disabled_all}}
            <li>
                <label>No concepts found.</label>
            </li>
            {{/if}}
        </ul>
    </section>

    <!--<div class="start-tour visible-desktop" {{#unless starttour_visible}}style="visibility:hidden"{{/unless}}>-->
        <!--New to <span class="becas">becas</span>? <a href="#!/tour">Take the tour »</a>-->
    <!--</div>-->
</div>